* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Helvetica Neue', sans-serif;

  }
body{
    background-color:rgb(100, 53, 0) ;
    text-align: center;
    color: white;
    background-image: url(WebImage.png);
    background-position: center center;
    background-repeat: no-repeat ;
    background-size:cover;
    background-attachment: fixed;

}   



header{
    background-color: rgb(134, 85, 0)  ;
    display: grid;
    place-items: center;
    height: auto;
}     

div{
    display: flex;
    justify-content:space-between;
    gap: 700px;
    align-items: center;

    
}
nav{
    display: flex;
    gap:35px;
}
nav a{
    text-decoration: none;
    font-size: 18px;
    color:black ;
    font-weight: 600;

}

nav a:hover{
    color: rgb(255, 255, 255);
}

img{
    width: 100px;
}
  